<h1>Listing Artcles</h1>


<ul id="articles">
  <% @articles.each do |article| %>
    
    <li><%= link_to article.title, article_path(article)%></li>
      <%= link_to 'delete', article_path(article) ,method: :delete,data: {confirm: "Really want to delete the article?"}%></br>
  	<% end %>
 </ul>

 <%= link_to "Create a New article", new_article_path, :class => 'new_article'%>