<h1>Listing all the Tags</h1>

<ul>
  <% @tags.each do |tag| %>
    <%= tag.name %>
    <%= link_to 'edit', edit_tag_path(tag)%>
    <%= link_to 'delete', tag_path(tag) ,method: :delete,data: {confirm: "Really want to delete the tag?"}%></br>
  <% end %>
</ul>
